
h1 {
    background-color: Navy;
    color: white;
}
.form-group {padding-bottom: 25px;
}
.searchBtn {
        border: 1px solid black;
        border-radius: 15px;
        border-style: solid black;
        color: white;
        background-color: steelblue;
        font-weight: bold;
        padding: 10px 24px;
        size: automatic;
    }
 .cityBtn {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 24px;
    padding-bottom: 15px;
    border-style: solid black;
    color: white;
    background-color: Teal;
    font-weight: bold;
    Size: automatic;
}  

.cityBtn:hover {
    background-color:navy;
    color: steelblue;
}
section {
    border-top: 4px solid black;
    padding-top: 25px;
}
/* @media(min-width: 576px) {...}
@media(min-width: 768px) {...}
@media(min-width: 992px) {...}
@media(min-width: 1200px) {...} */