h1 {
    background-color: Navy;
    color: white;
}
.searchBtn {
        border: 1px solid black;
        border-radius: 15px;
        border-style: solid black;
        color: white;
        background-color: steelblue;
        font-weight: bold;
        padding: 10px 24px;
        size: automatic;
    }
  .form-group input {border-radius: 15px;
    border: solid black;

  }

 .col-sm-8 input {
     border-radius: 15px;
     border:none;
     background-color:steelblue;
 }   

 .col-sm-8 h2 input  {
  text-align: center;
}   
.form-control {
    background-color: navy;
} 
* {
    box-sizing: border-box;
  }
  
  body {
    background-color:slategray;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }
textarea {
    border-radius: 15px;
    border-right: bold black;
}
  /* CARDS */
  .card {
    background-color: slategray;
  }
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
  }
  
  .card-body {
    border:solid black;
    background-color: steelblue;
    border-radius: 15px;
  }
  
  .container-fluid {
      border: solid black;
      border-radius: 15px;
      background-color: teal;
      padding-bottom: 15px;
  }
  .col-sm-2 .response-container-1 { border: solid black;
  border-radius: 15px;
  border-spacing: 20px;
}

.col-sm-2 .response-container-2 { border: solid black;
  border-radius: 15px;
 border-spacing: 20px;
}

.col-sm-2 .response-container-3 { border: solid black;
  border-radius: 15px;
  border-spacing: 25px;
}

.col-sm-2 .response-container-4 { border: solid black;
  border-radius: 15px;
  align-items: center;
}

.col-sm-2 .response-container-5 { border: solid black;
  border-radius: 15px;
  align-items: center;
}

.col-sm-2 input {background-color: teal;
border: radius 15px;
border: none;
size: 4px;
}
